@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FCDE9C;
  z-index: 1;
}

.title {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: "Amarna", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
  background: linear-gradient(
    90deg,
    #f8bf44 70%,
    #ca8341e2 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 21px;
  font-family: "Amarna", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: #381D2A;
  color: #FCDE9C;
  border-radius: 100px;
  font-size: 17px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  margin-right:15px;
}

.heroImg {
  width: 350px;
  height: 200x;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  box-shadow: 0 10px 30px rgba(226, 113, 168, 0.84);

}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(47, 86, 159, 0.57);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(47, 86, 159, 0.57);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
.buttons{
  display:flex;
  
}

