.container {
  color: #FCDE9C;
  margin-top: 120px;
  background-color: #381D2A;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; /* FIXED */
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link img {
  width: 28px;
  height: 28px;
}

.link a {
  color: #FCDE9C;
  text-decoration: none;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 6px 0;
}

.link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 5%;
    gap: 30px;
  }

  .text h2 {
    font-size: 36px;
    letter-spacing: 2px;
  }

  .text p {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .links {
    align-items: center;
    padding: 0;
    gap: 20px;
  }

  .link {
    width: 100%;
    justify-content: center;
    gap: 16px;
  }

  .link a {
    font-size: 18px;
    word-break: break-word;
    text-align: left;
  }
}


@media screen and (max-width: 480px) {
  .text h2 {
    font-size: 30px;
  }

  .text p {
    font-size: 18px;
  }

  .link img {
    width: 24px;
    height: 24px;
  }

  .link a {
    font-size: 16px;
  }
}
